body{
        margin-top:80px;
        background-color:rgb(236, 239, 241);
        border:1px solid whitesmoke;
        height:550px
    }
    .container{
        position: fixed;
         top: 0;
         left: 0;
        z-index: 9999;
        display:flex;
        width:100%;
        background-color: white;
        height:65px;
        border:1px solid whitesmoke;
        padding-bottom: 10px;   
    }
    img{
        width:110px;
        height:65px;
        
    }
    #pic{
        margin:10px 30px 0px 80px;
        
       
    }
    .previous{
        border:1px solid whitesmoke;
        color:rgb(90, 185, 223);
        margin-left:300px;
        
        font-size:20px;
        
    }
    span {
  content: "\2190";
  margin-right: 10px;
  font-size:20px;
  
}
.box{
   
    width:830px;
    height:480px;
    background-color:white;
    margin-left:300px;
    margin-top:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.wrapper{
     margin-top:12px ;
     width:50px;
}
.l1{
        margin:20px 30px 0px 25px;
        
    }
.box1{
    display:flex;
   
   width:100%;
   height:70px;
    
   
}
.r1{
    
    margin-left:260px;
    margin-top:20px;
    font-size:18px;
}
.box2{
    border:1px solid whitesmoke;
    height:150px; 
    display:flex;
}
#l2{
    border:1px solid whitesmoke;
width:110px;

}
#l2:hover{
    border:2px solid skyblue
}
#img1{
    margin-top:30px;
    height:100px;
}
#med{
    border:1px solid whitesmoke; 
    width:480px;
   
}
#r2{
    border:1px solid whitesmoke;
    width:28% ;
    text-align:right;
    margin-right:20px;
    
}
ins{
    color:green
}
#off{
    margin-top:5px;
}
#b1{
    width:150px;
    height:40px;
    margin-top:50px;
    color:white;
    background-color: rgb(90, 185, 223);
}
#box3{
    
    width:100%;
    height:150px;
    
}
.b2{
    color:rgb(90, 185, 223);
    background-color:white;
    border:2px solid rgb(90, 185, 223);
    width:300px;
    height:50px;
    margin:20px;
    border-radius: 5px;
    
}
input{
    width:100px;
    height:30px;
   
   
}
#box4{
    display:flex;
    border:1px solid whitesmoke;
    height:10%;
}
#l3{
    border:1px solid whitesmoke;
    margin-left:20px;

}
#r3{
    border:1px solid whitesmoke;
    margin-left:500px;
    color:green
    
}
.b3{
    color:white;
    background-color:rgb(90, 185, 223);
    border:2px solid rgb(90, 185, 223);
    width:100%;
    height:50px;
   
    border-radius: 5px;
}
.b3:hover{
    background-color: blue;

}
.b2:hover{
    background-color: blue;

}

.previous:hover{
    color:darkblue
}
